#RootWidget {
    background-image: url(./UiResources/images/mountain.png);
    background-position: right bottom;
}

#PadMain {
    background-image: url(./UiResources/images/mountain_blur.png);
    background-position: right bottom;
}

.PSideButton {
    border: none;
}